.calendar_row {
    display: flex;
    flex-direction: row;
}

.date_as_calendar {
    border: 2px solid #3d82eb;
    border-radius: 6px;
}

.position_em.date_as_calendar {
    display: inline-block;
    position: relative;
    width: 2.5em;
    height: 2.5em;
}

.day {
    text-align: center;
    line-height: 1;
    display: block;
    position: absolute;
    width: 100%;
    top: 1.4em;
    font-size: 14px;
    color: #3d82eb;
    font-weight: 700;
}

.month {
    text-align: center;
    line-height: 1;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    background-color: #3d82eb;
    color: #fff;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1em;
    top: 0px;
    font-size: 10px;
    padding: 3px 0 14px 0px;
    font-weight: 700;
}

.today {
    font-weight: 700;
    font-size: 40px;
    line-height: 21px;
    color: #323232;
}