@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bs-danger-rgb: 220, 53, 69;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bs-danger-rgb: 220, 53, 69;
  }
}

.container {
  margin: 3rem 3rem 3rem 3rem;
  width: auto;
}

.btn {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
}

.border-bottom-1 {
  border-bottom: 1px solid #ccc;
}

.fs-4 {
  font-size: calc(1.275rem + .3vw) !important;
}

.ReactModalPortal {
  position: absolute;
  z-index: 2;
}

@media (max-width: 800px) {
  .container {
    margin: 20px 10px 0;
  }
}