@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bs-danger-rgb: 220, 53, 69;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bs-danger-rgb: 220, 53, 69;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

.container {
  margin: 3rem 3rem 3rem 3rem;
}

.btn {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
}

.fill-close-btn .fa-regular:hover {
  font-weight: 900;
}

.text-danger {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

.fs-4 {
  font-size: calc(1.275rem + .3vw) !important;
}

.fa-pencil,
.fa-pen-to-square {
  color: #198754;
  border: .5vh solid #198754;
  border-radius: 50%;
  padding: .2vh;
}

@media (max-width: 800px) {
  .container {
    margin: 20px 10px 0;
  }
}